extends layout

block content
  section.section
    .container

      h1.title.has-text-centered
        | Suppentempel Bestellung KW 22, 31.05. – 04.06.21
      div(class="columns")
        div(class="column")
          include form
        div(class="column")
          | Speiseplan
          //include kw22