extends layout

table(class="table")
  thead the optional top part of the table
    tr
      th
        | S1
      th
        | S2
      th
        | S3
      th
        | S4
      th
        | S5
  tbody    
    tr
      th 
        | Montag
      td
        | 2
    tr
      th 
        | Dienstag
      td
        | 2
    tr
      th 
        | Mittwoch
      td
        | 2
    tr
      th 
        | Donnerstag
      td
        | 2
    tr
      th 
        | Freitag
      td
        | 2